div {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #8e44ed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  padding: 12px 20px;
  color:  black;
  border: 2px solid #ecf0f1;
  outline: none;
  text-transform: capitalize;
  cursor: pointer;
}

input{
  margin: 20px 0;
  padding: 10px 20px ;
  width: 80%;
  text-align: center;
  border: none;
  outline: none;
}
